* {
  padding: 0;
  margin: 0;
  font-family: "Roboto", serif;
}

body {
  background: url(img/background.jpg);
  background-size: cover;
}

.box {
  width: 400px;
  background-color: white;
  margin: 100px auto;
  display: grid;
  grid-template-rows: 170px repeat(4, 1fr);
  grid-template-columns: repeat(3, 1fr);
  padding: 40px;
  border-radius: 5px;
}

.box .destination {
  display: flex;
  grid-column: 1 / 3;
  margin-top: 20px;
}
.destination h1 {
  color: dodgerblue;
  font-size: 50px;
  font-weight: 900;
  font-family: "Prompt", serif;
}
.destination .line {
  color: rgba(0, 0, 255, 0.2);
  font-size: 50px;
  margin: 0 60px;
}
.destination p {
  color: rgba(0, 0, 0, 0.4);
  font-size: 15px;
  font-weight: 500;
}
.destination .ams p {
  text-align: end;
}

.flight {
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
}
.gate {
  grid-row: 2 / span 1;
  grid-column: 2 / span 1;
}
.seat {
  grid-row: 2 / span 1;
  grid-column: 3 / span 1;
}
.passenger {
  grid-row: 3 / span 1;
  grid-column: 1 / span 1;
}
.class {
  grid-row: 4 / span 1;
  grid-column: 1 / span 1;
}
.depature {
  grid-row: 5 / span 1;
  grid-column: 1 / span 1;
}
.img {
  grid-row: 3 / span 3;
  grid-column: 2 / span 2;
}
.img img {
  margin-left: 60px;
}
h1 {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.4);
}
p {
  font-weight: 500;
}
